.ContactData {
    text-align: center;
    width: 80%;
    margin: 24px auto;
    border: 1px solid #eee;
    box-sizing: border-box;
    padding: 16px;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}